:root {
  --dsmu-shadow-focus: 2px white 4px var(--dsmu-c-border-primary);
  --dsmu-shadow-raised: 0px 1px 4px 0px hsla(var(--dsmu-c-grey-700-hsl), 0.33);
  --dsmu-shadow-overlap: 0px 2px 8px 0px hsla(var(--dsmu-c-grey-700-hsl), 0.33);
  --dsmu-shadow-lifted: 0px 4px 16px 0px hsla(var(--dsmu-c-grey-700-hsl), 0.99);
}
